html {
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

h1 {
    -webkit-background-clip: text;
    font-family: 'Dosis', sans-serif;
    text-shadow: 0 0 6px #802ca7;
    animation: slideLeft .8s;
    background-image: url(bg1.gif),linear-gradient(90deg,#802ca7,#802ca7,#802ca7);
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.row {
    background-color: #15081f98;
    border-radius: 14px;
    margin-top: 60px;
}

button{
    padding: 10px 25px;
    font-size: 22px;
    line-height: 20px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to right bottom,rgb(26, 26, 26),#1a1a1a);
    color: rgb(19, 19, 19);
    border-radius: 5px;
   border: #1a1a1a;
    height: 60px;
}

.col-md-3 p {
    color: rgb(255, 255, 255);
    text-align: center;
}

.since_txt{
    -webkit-background-clip: text;
    font-family: 'Dosis', sans-serif;
    text-shadow: 0 0 6px #802ca7;
    animation: slideLeft .8s;
    background-image: url(bg1.gif),linear-gradient(90deg,#802ca7,#802ca7,#802ca7);
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;

}

.logo{
    -webkit-background-clip: text;
    font-family: 'Dosis', sans-serif;
    text-shadow: 0 0 6px #802ca7;
    animation: slideLeft .8s;
    background-image: url(bg1.gif),linear-gradient(90deg,#802ca7,#802ca7,#802ca7);
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: -90px;

}

.member_description {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    opacity: 0.85;
    text-align: center;
    padding: 14px;
}

.member_image {
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 7px;
    margin-bottom: -2px;
}

.MoonN_image {
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 7px;
}

    .owner_txt {
        color:#ffffff;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 25px;
        font-weight:700;
        background-clip: border-box;
        text-shadow: 2px 2px 2px#802ca7;
        top: 0;
        text-align: center;
        width: 100%;
        margin-top: 16px;
        }
        
        .member_txt {
            color:#ffffff;
            font-family: 'Source Sans 3', sans-serif;
            font-size: 25px;
            font-weight:700;
            background-clip: border-box;
            text-shadow: 2px 2px 2px#000000;
            top: 0;
            text-align: center;
            width: 100%;
            margin-top: 15px;
            }
            
.also {
    background-color:rgb(255, 255, 255);
    height: 50px;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    -webkit-background-clip: text;
    text-shadow: 0 0 6px #802ca7;
    animation: slideLeft .8s;
    background-image: url(bg1.gif),linear-gradient(90deg,#802ca7,#802ca7,#802ca7);
    -webkit-text-fill-color: transparent;
}
p {
font-family: 'Dosis', sans-serif;
font-weight: bold;
font-size: 14px;
font-weight:700;
color:#FFFFFF;
text-align: center;
top: 100px;
}

:root {
    --accentColor: #3e3e3e;
    --font: 'Ubuntu', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Rubik", sans-serif;

  background-color: #000000;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  color: #7f7f7f;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  
-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}
@media only screen and (min-width: 1279px) {
  }
    canvas {
      position: fixed;
      display: flex;
      z-index: -1;
      min-height: 100%;
      top: 0px;
  }
    
    @media only screen and (max-width: 1279px) {
        canvas {
          display: none;
      }
    }
  
    img {
      border-radius: 50%;
      margin-bottom: 1.5rem;
      border: 3px solid #9168be;
      box-shadow: 0px 0px 40px rgba(69, 17, 112, 0.952);
      background-size: contain;
    }
  
  header {
    text-align: center;
  }

#userName {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 1.5rem;
    display: block;
    font-family: 'Ubuntu';
    width: auto;
    text-align: center;
    text-decoration: none;
}


nav {
  width: 100%;
  display: block;
  max-width: 380px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
